body {
    height:100vh;
    margin:0;
    padding:0;
    background-color:#272a29;
    color:lightgray
}

.outer {
    height:100%;
}

.nav {
    display:flex;
    justify-content:space-between;
    background-color: aquamarine;
    padding:0 0 0 10px;
    color:#191617;
    align-items: center;
}

.container {
    border:solid 1px black;
    height:100%;
    padding:0 0 0 5px;
}

.row {
    display:flex;
    height:100%;
    padding:0;
    margin:0;
    align-items: center;
    gap:5px;
}

.column-1 {
    display:flex;
    flex-direction:column;
    flex-grow:1;
    height:100%;
    border:1px solid black;
    padding: 0 0 0 10px;
}

.column-2 {
    display:flex;
    flex-direction:column;
    flex-grow:3;
    height:100%;
    border:1px solid black;
}

button {
    width:75px;
    height:20px;
}

input {
    width:100px;
    height:20px;
}

.column {
    display:flex;
    flex-direction:column;
    flex-grow:1;
    height:100%;
    border:1px solid black;
    padding: 0 0 0 10px;
}

.box {
    display:flex;
    flex-direction: column;
    gap:5px;
}

.listItem, .taskItem {
    min-height: 50px;  /* Minimum height to prevent resizing */
    padding: 10px;  /* Add padding for better spacing */
    box-sizing: border-box;  /* Ensure padding is included in the total width and height */
    display: flex;
    align-items: center;  /* Vertically center content */
    margin-bottom: 10px;  /* Add spacing between items */
    gap:4px;
}
